nav{
    display: none;
}
header{
    width: 101vw;
    height: 10vw;
}
header img{
    margin: auto;
}
 main div h1{
    font-size: 2.5em;
    text-align: justify;
    margin-top: 33.33vh;
}
#especial{
    display: none;
}
a#burguinho{
    display: block;
    margin-right: 20px;
}
a#burguinho > img{
    width: 45%;
}
#going{
    display: block;
    width: 110vw;
    margin-left: -10px;
}
#going div{
    margin-left: 20vw;
}