@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
header{
    display:inline-flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 98.7vw;
    height: 75vh;
    margin: -10px;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    flex-wrap: wrap;
}
header > section{
    display:block;
    position: static;
    top: 300px;
    color: rgb(0, 0, 0);
    margin-left: 30px;
}
header p{
    font-size: 0.8em;
    margin: 10px;
}
strong {
    color: #38b6ff;
}
header img{
    position:static;
    margin-top: 1000px;
    margin: 0px 5vw -100px 7vw;
}
nav{
    position: sticky;
    top: 0px;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px solid;
    width: 98vw;
}
span{
    margin-left: 20px;
    margin-right: 5px;
}
a{
    font-family: "Roboto", sans-serif;
    font-size: 1.0em;
    color: #2c93ce;
    text-decoration: none;
    font-weight: 700;
    padding: 0px;
}
a:hover{
    color: #2274a3;
    text-decoration: underline;
    font-weight: 700;
}
section{
    text-align: center;
    font-family: "Roboto", sans-serif;
    
    overscroll-behavior-inline: contain;
}
section > h1{
    text-decoration: overline;
}
section img{
    height: 150px;
    margin-left: 75px;
}
div{
    background-color: rgba(0, 0, 0, 0.850);
    padding: 25px;
    margin-left: -10px;
    margin-right: -10px;
}
#ride{
    text-decoration: none;
    background-color: none;
}
section > div > a > img:hover{
    transform: translate(-10px,-10px);
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 35px;
}
#anc{
    display: block;
    margin-top:25px;
}
footer{
    background-color: #f1f1f14d;
    margin: 0px -10px -10px -10px;
    padding: 20px;
}
footer > a{
    margin: 35px;
}
footer > p{
    font-family: "Roboto", sans-serif;
    font-size: 0.75em;
}
#lorem{
}